@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;500;600;700;800&family=Tenor+Sans&display=swap');

.main{
    /* background-color: #060a1b; */
    background-image: url("/template3/templateBG.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*#region Body*/
.body_container {

    background-color: transparent;
    min-height: calc(100vh - 200px);
    position: relative;
    z-index: 5;
}

/*#endregion */

/*#region Footer*/
.footer_container {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(8px);
}

.footer_container div {
    margin: 0px 30px;
}

/*#endregion */