@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap');


/*#region Body*/
.body_container {

    background-color: #FBFBFB;
    min-height: calc(100vh - 200px);
}

/*#endregion */

/*#region Footer*/
.footer_container {
    height: 100px;
    background-color: #d0bc95;
    border: 0;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    flex-wrap: wrap;
}

.footer_container div {
    margin: 0px 30px;
}

/*#endregion */