@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Questrial&display=swap');

.hero_container {
    color: #dfdbdb;
    height: calc(100vh - 100px);
    /* height: 783px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    padding: 0px 72px 28px 72px;
    max-width: 1751px;
}

.hero_container * {
    transition: 0.5s;
}

.hero_side1 {
    height: 877px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    margin-right: 39px;
}

.hero_side1_2 {
    width: 100%;
    height: 421px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    backdrop-filter: blur(8px);
}

.hero_side1_2_content {
    width: 100%;
    max-width: 284px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FCFCFC;
    border-radius: 5px;
    backdrop-filter: blur(8px);
}

.hero_side1_2_content_details {
    width: 100%;
    max-width: 284px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
    color: black;
    font-family: Questrial;
    font-size: 15px;
}

.hero_side1_2_content_heading {
    color: black;
    font-family: Montserrat;
    font-weight: 800;
}

.hero_side1_2_content_subheading {
    color: black;
    font-family: Questrial;
    font-weight: 200;
}

.hero_side1_2_content_button {
    color: white;
    font-family: Questrial;
    font-weight: 200;
    width: 123px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #63B1E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    margin-top: 23px;
}

.hero_content_image {
    width: 100%;
}

.hero_side2 {
    width: 548px;
    height: 877px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    padding: 26px 0px;
}

.hero_side2_heading {
    color: #FCFCFC;
    font-family: Montserrat;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 482px;
    text-align: left;
    margin-bottom: 28px;
}

.hero_side2_row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 482px;
}

.hero_side2_row1_button {
    border-radius: 5px;
    border: 1.5px solid #3E3E3E;
    width: 149px;
    height: 38px;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Questrial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13px;
    margin-right: 16px;
}

.hero_side2_row1_button:nth-child(3n) {

    margin-right: 0px;
}

.hero_side2_row2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 484px;
    width: 100%;
    padding: 0px 25px;
    margin-top: 30px;
}

.hero_side2_row2_rule {
    width: 202px;
    height: 2px;
    background-color: #FCFCFC;
    margin-bottom: 34px;
}

.hero_side2_row2_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #FFFFFF;
    height: 100%;
    flex: 1;
    padding-right: 31px;
}

.hero_side2_row2_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-left: 31px;
}

.hero_side2_row2_t1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 34px;
    width: 100%;
}

.hero_side2_row2_t1_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FCFCFC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_side2_row2_t1_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-family: Questrial;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero_side2_row2_t2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 34px;
    width: 100%;
}

.hero_side2_row2_t2_1 {
    color: #FFF;
    font-family: Questrial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.hero_side2_row2_t2_2 {
    color: #FFF;
    font-family: Questrial;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero_side2_button {
    width: 348px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #63B1E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Questrial;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}

.hero_heading {
    width: 100%;
    font-size: 80px;
    text-align: left;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #FFFFFF;
}

.hero_subheading {
    font-size: 40px;
    margin-top: 13px;
    font-family: 'Questrial';
    text-align: left;
    width: 100%;
    color: #FFFFFF;
}

.hero_button {
    font-size: 23px;
    background-image: linear-gradient(180deg, rgba(97, 22, 157, 1) 0%, rgba(179, 25, 127, 1) 100%);
    color: #fbfbfb;
    border-radius: 30px;
    transition: 0.5s;
    padding: 9px 50px;
    height: 79px;
    font-family: 'Montserrat';
    margin-bottom: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_button:hover {
    background-color: rgb(175, 175, 175);
}

.hero_image {
    right: 0;
    bottom: 0;
    height: auto;
    width: 80%;
    max-width: 813px;
}

.hero_bottom_data {
    display: flex;
    flex-direction: row;
}

.hero_bottom_data_column {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.hero_bottom_data_column_value {
    font-family: 'DM Serif Display';
    font-size: 45px;
}

.hero_bottom_data_column_label {
    font-family: 'Lato';
    font-size: 23px;
}

@media only screen and (max-width: 1650px) {

    .hero_heading {
        font-size: 5vw;
    }

    .hero_subheading {
        font-size: 2vw;
        width: 60.4vw;
        margin-bottom: 3vw;
    }

    .hero_button {
        font-size: 2vw;
        margin-bottom: 3vw;
    }

    .hero_bottom_data {
        display: flex;
        flex-direction: column;
    }

    .hero_bottom_data_column {
        margin-bottom: 10px;
    }

    .hero_bottom_data_column_value {
        font-size: 2.4vw;
    }

    .hero_bottom_data_column_label {
        font-size: 1.6vw;
    }

}

@media only screen and (max-width: 1200px) {

    .hero_heading {
        font-size: 60px;
    }

    .hero_subheading {
        font-size: 30px;
        width: 450px;
        margin-bottom: 3vw;
    }

    .hero_button {
        font-size: 25px;
        margin-bottom: 35px;
        padding: 13px 50px;
        height: 60px;
    }

    .hero_image {
        right: 0;
        bottom: 0;
        height: auto;
        width: 90%;
        max-width: 813px;
    }

    .hero_bottom_data {
        display: flex;
        flex-direction: column;
    }

    .hero_bottom_data_column {
        margin-bottom: 10px;
    }

    .hero_bottom_data_column_value {
        font-size: 34px;
    }

    .hero_bottom_data_column_label {
        font-size: 20px;
    }

}