@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.showcase3_container {
    color: #252525;
    /* height: calc(100vh - 100px); */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    padding: 62px 0px;
}

.showcase3_container * {
    transition: 0.5s;
}

.showcase3_heading {
    width: 577px;
    font-size: 45px;
    text-align: left;
    font-family: 'DM Serif Display';
}

.showcase3_subheading {
    font-size: 28px;
    margin-bottom: 58px;
    margin-top: 13px;
    font-family: 'Lato';
    width: 724px;
}

.showcase3_row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.showcase3_row1_t1 {
    font-size: 30px;
    color: #b3197f;
    font-family: 'Montserrat';
}

.showcase3_row1_t2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 43px;
}

.showcase3_row1_t2 p {
    font-size: 45px;
    color: #DFDBDB;
    font-family: 'Anton';
    margin: 0px 33px;
    letter-spacing: 5px;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(148, 148, 148, 1) 100%);
    color: transparent;
    /* Make the text transparent to show the background */
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase3_row1_t2 div {
    width: 315px;
    height: 2px;
    background-color: #716412;
}

.showcase3_row1_t3 {
    font-size: 30px;
    color: #DFDBDB;
    font-family: 'Montserrat';
    max-width: 930px;
    text-align: center;
    margin-bottom: 58px;
}

.showcase3_row1_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.showcase3_row1_content {
    width: 315px;
    height: auto;
    border-radius: 20px;
    margin: 0px 37px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.269);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showcase3_content_image {
    width: 100%;
    height: 237px;
    object-fit: contain;
    border-radius: 10px 10px 0px 0px;
}

.showcase3_content_details {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showcase3_content_details_t1 {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-family: Anton;
    color: #DFDBDB;
    margin: 0;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(148, 148, 148, 1) 100%);
    color: transparent;
    /* Make the text transparent to show the background */
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase3_content_details_t2 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    color: #DFDBDB;
    margin: 0;
}


.showcase3_content_details_button {
    font-size: 16px;
    background-image: linear-gradient(180deg, rgba(97, 22, 157, 1) 0%, rgba(179, 25, 127, 1) 100%);
    color: #fbfbfb;
    border-radius: 30px;
    transition: 0.5s;
    padding: 9px 50px;
    height: 40px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 36px 0px;
    cursor: pointer;
    font-weight: 600;
}


@media only screen and (max-width: 1650px) {

    .showcase3_row1_t1 {
        font-size: 3.0vw;
    }

    .showcase3_row1_t2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .showcase3_row1_t2 p {
        font-size: 5vw;
        margin: 0px 0px 40px 0px;
    }

    .showcase3_row1_t3 {
        font-size: 2.6vw;
        max-width: 70%;
    }
    .showcase3_row1_content {
        margin: 5vw 37px;
    }
}

@media only screen and (max-width: 1200px) {
    .showcase3_row1_contents {
        flex-wrap: wrap;
    }
}