
:root {
    --primary-color: #cb9800;
    --secondary-color: #000000;
    --text-color: #fff;

    --header-footer-width : 100vw;
    --header-footer-height : 100px;

}

main{
    font-family: Plus Jakarta Sans;
}