@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.main{
    background-color: #060a1b;
}
/*#region Body*/
.body_container {

    background-color: transparent;
    min-height: calc(100vh - 200px);
}

/*#endregion */

/*#region Footer*/
.footer_container {
    height: 100px;
    background-color: transparent;
    border: 0;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    flex-wrap: wrap;
}

.footer_container div {
    margin: 0px 30px;
}

/*#endregion */